/* Header style 4 Start*/
#menuContainer {
	/*height: auto !important;*/
}
.headerStyle9 #logoWrapper {
	float: none;
	display: block;
	margin: 10px auto 0;
}
.headerStyle9 #menuContainer .navbar {
	clear: both;
	position: static;
	right: 0;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}
.headerStyle9 .navbar .icon-bar::before {
    content: initial !important;
}
.headerStyle9 {
	height: auto !important;
    height: 75px;
    border-bottom: 1px solid #e5e5e5;
}
.headerStyle9 #menuContainer {
    height: 75px;
    position: relative;
}
.headerStyle9 .navbar-inner {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0 auto;
    display: table;
}
.top_header_style4 {
    /* background: #e32831 */
    height: 40px;
}
.top_header_style4 .navbar {
    margin-bottom: 0px;
    float: none;
}
.top_header_style3 {
    height: 100px;
    margin-top: -200px;
    z-index: 9999;
}
.headerStyle9 .sticky-wrapper.hide {
    height: 0 !important
}
.top_header_style3 .container {
    margin-top: 30px;
}
.style1.searchbar {
    background: #2a2a2a;
    height: 40px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.style1.searchbar .searchform {
    margin: 7px auto 0px auto;
    width: 240px;
    float: none;
    display: table;
}
.style1.searchbar #s {
    background-color: #1a1d20;
    -ms--shadow: inset 0px 0px 2px 1px #1d1d1d;
    -moz-box-shadow: inset 0px 0px 2px 1px #1d1d1d;
    -webkit-box-shadow: inset 0px 0px 2px 1px #1d1d1d;
    box-shadow: inset 0px 0px 2px 1px #1d1d1d;
    border: none;
    padding: 4px 34px 4px 14px;
    width: 186px;
    height: 20px;
}
.style1.searchbar button[type="submit"] {
    cursor: pointer;
    color: white;
    font-size: 13px;
    padding: 0px;
    line-height: 23px;
    margin-left: -40px;
    width: 28px;
    border: none;
    background: none;
}
.style1.searchbar button[type="submit"] span {
    color: white;
    font-size: 13px;
    line-height: 18px;
}
.style1.searchbar .searchHolder {
    border-radius: 0 0 25px 25px;
    width: 48px;
    height: 23px;
    margin: 0 auto;
    z-index: 5;
    position: absolute;
    display: block;
    background: #2a2a2a;
    cursor: pointer;
    line-height: 23px;
    position: relative;
}
.style1.searchbar .searchHolder span {
    color: white;
    font-size: 13px;
    margin: -5px 0px 0px 16px;
}
.searchbar.style1.closed {
    margin-top: -36px;
}
.searchbar.style1.opened {
    margin-top: 0px;
}
.headerStyle9 .navbar .nav li a {
    font-family: 'sourceSans';
    font-size: 15px;
    color: #2a2a2a !important;
    height: 38px;
    padding-bottom: 17px;
}
.headerStyle9 .navbar .nav li a:hover,.headerStyle9  .navbar .nav li.open a {
    /* color: #e32831 !important */
    border-bottom: 5px solid #e32831;
    margin-bottom: -5px;
}
.headerStyle9 .dropdown-menu.header-menu, .headerStyle9 .dropdown-menu {
    margin-top: 0px;
    padding: 0;
    box-shadow: none;
    z-index: 10000;
}
.headerStyle9 .dropdown-menu.header-menu {
    min-width: 99%;
}
.headerStyle9 .navbar .right li .dropdown-menu .dropdown-menu,.headerStyle9  .mainHeader .navbar .right li .dropdown-menu .dropdown-menu {
    left: 100%;
    right: auto;
}
.headerStyle9 .dropdown-menu li, .headerStyle9 .dropdown-menu li {
    height: 45px;
    margin-bottom: 0px;
}
.headerStyle9 .navbar .nav li .dropdown-menu:before,.headerStyle9  .navbar .nav li .dropdown-menu:after {
    border: 0 !important;
}
.headerStyle9 .dropdown-menu li a, .headerStyle9 .dropdown-menu li a {
    font-family: 'sourceSans';
    color: #5a5a5a;
    font-size: 13px;
    height: 30px;
    padding-top: 12px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: none;
}
.top_header_style4 .dropdown-menu li a {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 10px;
    background: none;
    font-family: 'sourceSans';
    color: #5a5a5a;
    font-size: 13px;
}
.top_header_style4 .dropdown-menu li a:hover {
    background: none;
    /* color: #e32831 */
}
.top_header_style4 .dropdown-menu li:hover {
    background: #f0efee;
    /* color: #e32831 */
}
.headerStyle9 .dropdown-menu li a:hover, .headerStyle9 .dropdown-menu li a:hover {
    background: #f0efee;
    /* color: #e32831 */
}
.headerStyle9 .dropdown-menu li:hover, .headerStyle9 .dropdown-menu li:hover {
    background: #f0efee;
    /* color: #e32831 */
}
.header_top_left, .header_top_right {
    overflow: hidden;
}
.header_top_left p, .header_top_right p {
    float: left;
    font-size: 12px;
    color: white;
    margin-top: 9px;
    display: inline-block;
}
.header_top_right {
    float: right;
}
.header_top_right p {
    font-size: 12px;
    color: white;
    margin-top: 9px;
    display: inline-block;
}
.headerSocial {
    margin-top: 0px;
}
.headerSocial i {
    margin-left: 0px;
}
.top_header_style4 .nav li:first-child {
    margin-left: 0px;
}
.header_top_left .nav li, .header_top_right .nav li {
    float: left;
}
.top_header_style4 .nav  .dropdown-menu li {
    width: 100%;
    height: 45px;
    margin-bottom: 0;
}
.top_header_style4 .nav li {
    margin: -6px 0 0 10px;
    float: left;
}
.top_header_style3 .navbar {
    margin-top: -10px;
    margin-bottom: 0px;
}
.header_top_left .navbar left li .dropdown-menu .dropdown-menu, .header_top_right .navbar left li .dropdown-menu .dropdown-menu {
    left: auto;
    right: 100%;
}
.top_header_style4 .nav li a, .top_header_style4 .nav li a:hover, .top_header_style4 .navbar .nav li.open a {
    color: white !important;
    background: none !important;
    border-bottom: none !important;
    padding-bottom: 10px;
    font-size: 15px;
    text-shadow: none;
    margin-top: 10px;
    height: 31px;
}
.top_header_style4 .nav li a {
    height: auto !important;
}
.top_header_style4 .nav li a {
    opacity: 0.8;
}
.top_header_style4 .nav li a:hover, .top_header_style4 .navbar .nav li.open a {
    opacity: 1;
}
.top_header_style4 .nav {
    margin: -5px 0 0px 0;
}
.headerStyle9 .menuArrowDown {
    font-size: 11px;
    margin-top: -3px;
    color: inherit;
}
.headerStyle9 .menuArrowRight {
    color: inherit;
    font-size: 9px;
    margin: 3px 0px 0px 0px;
    float: right;
    line-height: 16px;
    width: 10px;
    position: absolute;
	right: 12px;
}
.top_header_style4 .nav li .dropdown-menu {
    margin-top: 0px;
}
.top_header_style4 .nav .dropdown-menu {
    margin-top: -1px;
    right: 0 !important;
    left: auto !important;
}

.headerStyle9 .smallHeader .nav li a {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    height: 20px !important;
}
.headerStyle9 .nav-collapse, .nav-collapse-main {
    z-index: 99;
    display: table-cell;
    vertical-align: middle;
}
.headerStyle9 .headerAfter {
    margin: -12px auto 20px auto;
    height: 54px;
}
.headerStyle9 .headerAfter .navbar {
    margin-top: 0px;
}
.headerStyle9 .headerAfter .navbar .nav li a {
    height: 29px;
}
.headerStyle9 .centeredLogo {
    margin: 0 auto;
    display: table;
}
.headerStyle2 .navbar {
    margin: 20px auto -10px auto;
    display: table;
    clear: both;
    float: none;
}
.headerStyle2 .navbar .nav li {
    margin-bottom: 15px;
}
.slidingText {
    clear: both;
    background: #1f1f1f;
    height: 44px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 0px;
}
.slidingText .movingHead {
    width: 15%;
    text-align: center;
}
.slidingText .movingHead h2 {
    color: white;
    font-size: 17px;
    font-family: 'SourceSansSemiBold';
    line-height: 24px;
    background: #3b3b3b;
    padding: 10px 0;
    margin: 0;
}
.movingText {
    width: 85%
}
.movingText h6 {
    color: #c7c6c0;
    line-height: 32px;
    font-family: 'sourceSans';
    font-size: 12px;
}
.headerStyle2, .headerStyle2 #menuContainer {
    height: auto;
}
.headerStyle2 .nav li:hover {
    margin-bottom: 0;
}
.headerStyle2 .menuWrapper {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
}
#overlaySlider {
    background: green;
    height: 400px;
}
#overlaySlider .headerStyle2 {
    background: rgba(255,255,255,0.7);
    border-bottom: 0;
    width: 700px;
    margin: 10px auto 0 auto;
    position: absolute;
    left: 10px;
    right: 10px;
    border-radius: 10px;
}
#overlaySlider .menuWrapper {
    border-top: 0px;
}
#overlaySlider #logoWrapper {
    margin-top: 15px;
}
.headerStyle9 .btn-navbar {
    /* background-color: #e32831  !important */
    background-image: none !important;
    border-radius: 50%;
	height: 35px;
	width: 35px !important;
	padding: 0;
	border: 0;
	display: none;
}
.headerStyle9 .btn-navbar span {
	text-shadow: none;
	font-size: 17px;
	line-height: 35px;
	display: block;
	width: 100%;
	height:100%;
}
.headerStyle9 .navbar .btn-navbar .icon-bar {
    margin-left: -2px;
    margin-top: 3px;
}
.headerStyle9 .navigationButton {
    background-color: white;
    border-radius: 29px;
    height: 24px;
    width: 25px;
    border: 5px solid #e32831;
    cursor: pointer;
}
.headerStyle9 .navigationButton  span {
    /* color: #e32831 */
    font-size: 18px;
    margin: -2px 0px 0px 0px;
}
.headerStyle9 .navigationButton button {
    background: transparent;
    border: none;
    text-indent: -9999px;
}
.headerStyle9 .navigationButton .icon-bar {
    /* background: #e32831 */
    width: 14px;
    height: 3px;
    margin-top: 3.5px;
    margin-left: 5px;
    line-height: 0;
    display: block;
}
.top_header_style4 .icon-bar:before{
	content: ' ' !important;
}
.header_top_left .btn-navbar .icon-bar, .header_top_right .btn-navbar .icon-bar {
	margin-left: -2px;
	margin-top: 3px;
}
.headerStyle9 .navbar .container {
    display: table;
    float: right;
}
.headerStyle9 .navbar .navbar-inner {
    padding: 0;
    z-index: 100;
}
/* Ticker Styling */
.ticker-wrapper.has-js {
    width: 100%;
    height: 37px;
    display: block;
    background: #1f1f1f;
    position: relative;
    margin-top: 7px;
}
.ticker {
    width: 740px;
    height: 32px;
    display: block;
    position: relative;
    overflow: hidden;
    background-color: #1f1f1f;
}
.ticker-title {
    padding-top: 9px;
    color: #990000;
    font-weight: bold;
    background-color: #1f1f1f;
    text-transform: uppercase;
}
.ticker-content {
    margin: 0px;
    position: absolute;
    font-weight: bold;
    background-color: #1f1f1f;
    overflow: hidden;
    white-space: nowrap;
}
.ticker-content a {
    text-decoration: none;
    color: #c7c6c0;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.ticker-content a:hover {
    text-decoration: underline;
}
.ticker-swipe {
    padding-top: 9px;
    position: absolute;
    top: 0px;
    background-color: #1f1f1f;
    display: block;
    width: 100%;
    height: 23px;
}
.ticker-swipe span {
    margin-left: 1px;
    background-color: #1f1f1f;
    border-bottom: 1px solid #1f1f1f;
    height: 12px;
    width: 7px;
    display: block;
}
.ticker-controls {
    position: absolute;
    margin-top: -32px;
    right: 0;
    background-color: #1f1f1f;
    width: 32px;
    height: 32px;
}
.ticker-controls li {
    width: 11px;
    height: 12px;
    margin: 11px auto 0;
    display: block;
    cursor: pointer;
}
.ticker-controls li.jnt-play-pause {
    border-top: 0;
    border-bottom: 0;
    border-left: 4px solid white;
    border-right: 4px solid white;
    height: 13px;
    width: 3px;
    margin-top: 10px;
    opacity: 0.8;
}
.ticker-controls li.jnt-play-pause.over {
    opacity: 1;
}
.ticker-controls li.jnt-play-pause.paused {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid white;
    border-right: 0px;
}
.js-hidden {
    display: none;
}
.no-js-news {
    padding: 10px 0px 0px 45px;
    color: #F8F0DB;
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    position: absolute;
    margin-top: 0px;
    margin-left: -1px;
}
/* Ticker Styling End */
/* Sticky Header Start */
.headerStickyActive.headerStyle9 {
	height: 49px !important;
}
.headerStyle9.headerStickyActive .navbar .nav li a {
	height: 18px;
}
.headerStickyActive.headerStyle9 #logoWrapper {
	margin: 5px auto 0;
}
.headerStyle9.headerStickyActive .navbar {
	padding: 5px 0;
}
.headerStyle9.headerStickyActive .navbar .nav li {
	margin-bottom: 0;
}
.headerStickyActive.headerStyle9 .menuWrapper {
	margin-bottom: 0;
}
.headerStyle9.headerStickyActive .nav-collapse {
	display: block;
}
div.navCollapse-main.navCollapse {
	display: none;
}
/* Sticky Header End */
/* end of header style */
/*
 * ubermenu style v3
 */
.ubermenu .ubermenu-autocolumn, .ubermenu .ubermenu-submenu-type-stack {padding-top: 0 !important;}
.ubermenu a.ubermenu-target, .ubermenu-trigger-click .ubermenu-has-submenu-drop .ubermenu-target {color: #333;}
.ubermenu a.ubermenu-target:hover, .ubermenu-trigger-click .ubermenu-has-submenu-drop .ubermenu-target:hover, .ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop ul a span:hover, .ubermenu-current-menu-item a span, .ubermenu-current-menu-ancestor a span {color: #e32831;}
.ubermenu-submenu .ubermenu-current-menu-item a span {color: #e32831 !important;}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop {border-top: solid 2px #e32831;background: #fff;}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop a:first-child {font-size: 14px;}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop ul a span {position: relative;padding-left: 15px;color: #808080;}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop ul a span:before {content: "";position: absolute;left: 0;top: 7px;width: 5px;height: 5px;background: #e32831;border-radius: 50%;}
.ubermenu-submenu-drop a:first-child span {color: #333;text-transform: capitalize;}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop .ubermenu-target:after {content: '';position: absolute;top: 50%;right: 8px;margin-top: auto !important;display: inline-block;background: transparent;border-style: solid dashed dashed;border-color: transparent;border-top-color: #999;font-size: 0;border-width: 3px 3px 0;padding-top: 1px;}
.ubermenu-main .ubermenu-submenu.ubermenu-submenu-drop a:first-child:after {display: none;}
.ubermenu-target.ubermenu-item-layout-default.ubermenu-item-layout-text_only {padding: 7px 20px;font-size: 15px;}
.ubermenu-target.ubermenu-item-layout-default.ubermenu-item-layout-text_only a:first-child {font-size: 14px;}
.searchFormIcon.searchActive {float: right;}
@media screen and (max-width: 979px) {
#menuContainer .navbar li {width: 100%;border-bottom: none !important;position: relative;}
#menuContainer .navbar li:after {position: absolute;bottom: -3px;left: 17px;content: "";border-bottom: 1px solid #ebebeb;width: 90%;}
#menuContainer .navbar li.ubermenu-item-has-children:after {display: none;}
.ubermenu .ubermenu-item .ubermenu-submenu-drop {position: relative !important;overflow: auto !important;height: auto !important;max-height: 100% !important;}
.ubermenu-transition-shift .ubermenu-item .ubermenu-submenu-drop {visibility: visible !important;opacity: 1 !important;display: block;height: auto;width: 100%;margin-top: 0 !important;left: 0 !important;}
.ubermenu .ubermenu-autocolumn, .ubermenu .ubermenu-submenu-type-stack {padding-left: 10px !important;}
}
/*
 * Mega Menu Ltr Styles
 * Default Styles Of The Mega Menu
 */
#megaMenu {background-color: #ffffff;background: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ffffff));background: -webkit-linear-gradient(top,#ffffff,#ffffff);background: -moz-linear-gradient(top,#ffffff,#ffffff);background: -ms-linear-gradient(top,#ffffff,#ffffff);background: -o-linear-gradient(top,#ffffff,#ffffff);-moz-background-clip: padding;-webkit-background-clip: padding-box;background-clip: padding-box;border: none !important;box-shadow: none !important;margin: 5px auto 0;}
#megaMenu ul.megaMenu li.menu-item a, #megaMenu ul.megaMenu li.menu-item span.um-anchoremulator {color:#333333 !important;padding:19px 19px;font-weight:normal;font-size: 15px;}
#megaMenu.megaMenuHorizontal ul.megaMenu li.menu-item:first-child a {border-top-left-radius:0px;border-bottom-left-radius:0px;}
#megaMenu.megaMenuHorizontal ul.megaMenu li.menu-item a, #megaMenu.megaMenuHorizontal ul.megaMenu li.menu-item span.um-anchoremulator {border-left:1px solid transparent;-webkit-box-shadow:inset 1px 0px 0px 0px rgba(255,255,255,1);-moz-box-shadow:inset 1px 0px 0px 0px rgba(255,255,255,1);box-shadow:inset 1px 0px 0px 0px rgba(255,255,255,1);}
#megaMenu.megaMenuVertical ul.megaMenu li.menu-item a, #megaMenu.megaMenuVertical ul.megaMenu li.menu-item span.um-anchoremulator {border-top:1px solid transparent;-webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,1);-moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,1);box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,1);}
#megaMenu ul li.menu-item.ss-nav-menu-reg li.menu-item.megaReg-with-sub a, #megaMenu ul li.menu-item.ss-nav-menu-reg li.menu-item.megaReg-with-sub span.um-anchoremulator, #megaMenu ul li.menu-item.mega-with-sub a, #megaMenu ul li.menu-item.mega-with-sub span.um-anchoremulator, #megaMenu ul li.menu-item.ss-nav-menu-mega a, #megaMenu ul li.menu-item.ss-nav-menu-mega span.um-anchoremulator { padding-right:30px !important; }
#megaMenu ul.megaMenu li.menu-item a span.wpmega-link-title, #megaMenu ul.megaMenu li.menu-item span.um-anchoremulator span.wpmega-link-title {text-transform:capitalize;text-shadow:0 -1px 1px transparent;}
#megaMenu ul.megaMenu li.menu-item:hover a, #megaMenu ul.megaMenu li.menu-item a:hover, #megaMenu ul.megaMenu li.menu-item.megaHover a, #megaMenu ul.megaMenu li.menu-item:hover span.um-anchoremulator, #megaMenu ul.megaMenu li.menu-item span.um-anchoremulator:hover, #megaMenu ul.megaMenu li.menu-item.megaHover span.um-anchoremulator {border-bottom-color:transparent !important;background-color:transparent;background:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));background:-webkit-linear-gradient(top,transparent,transparent);background:-moz-linear-gradient(top,transparent,transparent);background:-ms-linear-gradient(top,transparent,transparent);background:-o-linear-gradient(top,transparent,transparent);-webkit-box-shadow:inset 1px 1px 0px 0px rgba(255,255,255,0.8);-moz-box-shadow:inset 1px 1px 0px 0px rgba(255,255,255,0.8);box-shadow:inset 1px 1px 0px 0px rgba(255,255,255,0.8);}
#megaMenu ul.megaMenu li.menu-item:hover a span.wpmega-link-title, #megaMenu ul.megaMenu li.menu-item:hover span.um-anchoremulator span.wpmega-link-title, #megaMenu ul.megaMenu li.menu-item a:hover span.wpmega-link-title, #megaMenu ul.megaMenu li.menu-item span.um-anchoremulator:hover span.wpmega-link-title, #megaMenu ul.megaMenu li.menu-item.megaHover a span.wpmega-link-title, #megaMenu ul.megaMenu li.menu-item.megaHover span.um-anchoremulator span.wpmega-link-title { text-shadow:0 -1px 1px transparent; }
#megaMenu ul.megaMenu li.menu-item.current-menu-item a, #megaMenu ul.megaMenu li.menu-item.current-menu-parent a, #megaMenu ul.megaMenu li.menu-item.current-menu-ancestor a { color:#333333; }
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega ul.sub-menu-1, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu {border-color:#e0e0e0;color:#898989;text-shadow:0px 1px 1px transparent;-webkit-box-shadow:1px 1px 1px transparent;-moz-box-shadow:1px 1px 1px transparent;box-shadow:1px 1px 1px transparent;background-color:#ffffff;background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#fafafa));background:-webkit-linear-gradient(top,#ffffff,#fafafa);background:-moz-linear-gradient(top,#ffffff,#fafafa);background:-ms-linear-gradient(top,#ffffff,#fafafa);background:-o-linear-gradient(top,#ffffff,#fafafa);}
#megaMenu ul.megaMenu ul.sub-menu .wpmega-postlist a { color:#898989; }
#megaMenu.megaMenuHorizontal ul.megaMenu li.menu-item.ss-nav-menu-mega ul.sub-menu-1,
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega ul.sub-menu-1 li.menu-item { min-width:100px; }
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega ul.sub-menu-1 li.menu-item a,#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega ul ul.sub-menu .ss-nav-menu-header a, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega ul.sub-menu-1 li.menu-item span.um-anchoremulator, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega ul ul.sub-menu .ss-nav-menu-header span.um-anchoremulator, #megaMenu ul.megaMenu .wpmega-widgetarea h2.widgettitle {color:#333333 !important;font-weight:normal;text-shadow:0px 1px 1px transparent;padding-bottom:.4em;padding-right:0 !important;border-bottom:none;}
#megaMenu ul li.menu-item.ss-nav-menu-mega ul.sub-menu-1 li.menu-item:hover a { color:#333333; }
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega ul ul.sub-menu li.menu-item a, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega ul ul.sub-menu li.menu-item span.um-anchoremulator, #megaMenu ul.megaMenu ul.sub-menu li.menu-item a, #megaMenu ul.megaMenu ul.sub-menu li.menu-item span.um-anchoremulator {color:#808080 !important;font-size:14px !important;text-shadow:0px 1px 1px transparent;background-color:transparent;}
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega ul ul.sub-menu li.menu-item a:hover, #megaMenu ul.megaMenu ul.sub-menu li.menu-item:hover a {color:#000000;background-color:transparent;}
#megaMenu ul.megaMenu li.menu-item .wpmega-nonlink form#searchform { padding-top:9px; }
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-highlight a, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-highlight span.um-anchoremulator { color:#808080 !important; }
#megaMenu .ss-nav-menu-with-img a .wpmega-link-title, #megaMenu .ss-nav-menu-with-img a .wpmega-link-description, #megaMenu .ss-nav-menu-with-img a .wpmega-item-description, #megaMenu .ss-nav-menu-with-img span.um-anchoremulator .wpmega-link-title, #megaMenu .ss-nav-menu-with-img span.um-anchoremulator .wpmega-link-description, #megaMenu .ss-nav-menu-with-img span.um-anchoremulator .wpmega-item-description { padding-left:21px; }
.ss-nav-menu-with-img { min-height:16px; }
#megaMenu ul.megaMenu li.menu-item a span.wpmega-item-description, #megaMenu ul.megaMenu li.menu-item span.um-anchoremulator span.wpmega-item-description {font-size:10px;line-height:1.4em;color:#000000;text-transform:uppercase;}
#megaMenu ul.megaMenu li.menu-item.mega-with-sub a:after {content: '';position: absolute;top: 50%;right: 16px !important;margin-top: -1px;display: inline-block;background: transparent;border-style: solid dashed dashed;border-color: transparent;border-top-color: #999;font-size: 0;border-width: 3px 3px 0;padding-top: 1px;display: block !important;}
#megaMenu ul.megaMenu li.menu-item.mega-with-sub span.um-anchoremulator:after {content: '';position: absolute;top: 50%;right: 8px;margin-top: -1px;display: inline-block !important;background: transparent;border-style: solid dashed dashed;border-color: transparent;border-top-color: #999;font-size: 0;border-width: 3px 3px 0;padding-top: 1px;}
#megaMenu ul.megaMenu li.menu-item.mega-with-sub ul.sub-menu li a:after,#megaMenu li ul li a:after {display: none !important;}
#megaMenu li a:after{display: none !important;}
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg li.menu-item.megaReg-with-sub a:after, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-reg li.menu-item.megaReg-with-sub span.um-anchoremulator:after { border-left-color:transparent; }
#megaMenu .wpmega-divider {border-top:1px solid #e0e0e0;border-bottom:1px solid rgba(255,255,255,0.05);}
#megaMenu.megaMenuVertical ul li.menu-item a, #megaMenu.megaMenuVertical ul li.menu-item span.um-anchoremulator {background-color:#ffffff;background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ffffff));background:-webkit-linear-gradient(top,#ffffff,#ffffff);background:-moz-linear-gradient(top,#ffffff,#ffffff);background:-ms-linear-gradient(top,#ffffff,#ffffff);background:-o-linear-gradient(top,#ffffff,#ffffff);}
#megaMenu.megaMenuVertical ul li.menu-item.ss-nav-menu-reg li.menu-item.megaReg-with-sub a:after, #megaMenu.megaMenuVertical ul li.menu-item.mega-with-sub a:after, #megaMenu.megaMenuVertical ul li.menu-item.ss-nav-menu-mega a:after, #megaMenu.megaMenuVertical ul li.menu-item.ss-nav-menu-reg li.menu-item.megaReg-with-sub span.um-anchoremulator:after, #megaMenu.megaMenuVertical ul li.menu-item.mega-with-sub span.um-anchoremulator:after, #megaMenu.megaMenuVertical ul li.menu-item.ss-nav-menu-mega span.um-anchoremulator:after { border-left-color:transparent; }
#megaMenu.megaMenuVertical ul.megaMenu li.menu-item.ss-nav-menu-mega ul.sub-menu-1, #megaMenu.megaMenuVertical ul.megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu { border-left:; }
#megaMenu.megaMenuHorizontal ul.megaMenu { *border-bottom:none; }
#megaMenu.megaMenuVertical ul.megaMenu { *border-right:none; }
#megaMenu ul.megaMenu li.menu-item .wpmega-nonlink form#searchform.ubersearch-v2 input[type="text"] { color:#ffffff;background:#666666;}
#megaMenu ul.megaMenu li.menu-item .wpmega-nonlink form#searchform.ubersearch-v2 input[type="submit"] {color:#ffffff;background:#666666;}
#megaMenu ul.megaMenu li.menu-item .wpmega-nonlink form#searchform.ubersearch-v2 input[type="submit"]:hover {color:#ffffff;background:#222222;}
/*
 * MegaMEnu Custom Css
 */
#megaMenu.megaMenuHorizontal ul.megaMenu li.menu-item a, #megaMenu.megaMenuHorizontal ul.megaMenu li.menu-item span.um-anchoremulator {box-shadow: none !important;border: none !important;}
#megaMenu li {float: left;}
#megaMenu .searchFormIcon {padding: 9px 0 0 5px !important;}
#megaMenu .cart-dropdown {display: none;}
#megaMenu .menu-item-language {width: auto !important;}
#megaMenu .menu-item-language a {/*padding: 17px 15px !important;*/}
.headerStyle4 #menuContainer {text-align: center;}
#megaMenu .sub-menu {border-right: dotted 1px #e1e1e1}
#megaMenu .sub-menu li li a {position: relative;padding-left: 15px !important;}
#megaMenu .sub-menu li li a:before {position: absolute;content: '';width: 5px;height: 5px;left: 0;top: 9px;border-radius: 50%;}
#megaMenu .sub-menu li li a:after {display: none !important;}
#megaMenu.megaMenuHorizontal ul.megaMenu li.menu-item.ss-nav-menu-mega ul.sub-menu-1, #megaMenu.megaMenuHorizontal ul.megaMenu li.menu-item.ss-nav-menu-reg ul.sub-menu {border-top: solid 2px;}
#megaMenu #menuContainer .navbar li.searchFormIcon,
#megaMenu.megaResponsive ul.megaMenu li.menu-item,
#menuContainer .navbar li.searchFormIcon{clear:none !important}
.megaMenu .current-menu-item li span  {color:#808080 !important;}
/*
 * MegaMenu In Responsive
 */
@media (max-width: 979px) {
#megaMenu * {display: table !important;}
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-mega {position: relative !important;width: 100% !important;}
#megaMenu ul ul.sub-menu {position: relative !important;}
#megaMenu.megaResponsive ul.megaMenu li.menu-item.ss-nav-menu-mega ul.sub-menu.sub-menu-1 li.menu-item {width: 100% !important;}
#megaMenu.megaResponsive ul.megaMenu li.menu-item.ss-nav-menu-reg {width: 100% !important;}
#megaMenu.megaResponsive ul.megaMenu li.menu-item {width: 100%;float: left;clear:none !important;}
#megaMenu .searchFormIcon {padding: 10px 0 0 5px !important;}
#megaMenu ul li.menu-item.ss-nav-menu-mega ul.sub-menu ul.sub-menu{padding: 0 !important;}
#megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item.ss-nav-menu-mega > ul.sub-menu-1, #megaMenu.megaMenuHorizontal ul.megaMenu li.menu-item.ss-nav-menu-reg > ul.sub-menu{width: 100%;left: 0 !important;padding-left: 30px !important}
#megaMenu #menuContainer .navbar li {clear: none !important;}
}
.headerStyle9 .ubermenu-nav > li {
    float: left;
    margin-bottom: 0;
}
.headerStyle9 .ubermenu-nav > li.menu-item-language {
    padding-top: 9px;
    padding-bottom: 9px;
}