/* =Rtl
 -------------------------------------------------------------- */
/* =Classes
 -------------------------------------------------------------- */
.headerLeft {
	float: right;
}
.headerRight {
	float: left;
}
/** Classes End **/
/* =Menu
 -------------------------------------------------------------- */
.headerMenu li.menu-parent > .sub-menu {
	left: auto;
	right: -9999px;
}
.headerMenu li.menu-parent:hover > .sub-menu {
	left: auto;
	right: 0;
}
.headerMenu .sub-menu a {
	padding: 12px 20px 12px 50px;
}
.sub-arrow {
	left: 10px;
	right: auto;
}
.headerMenu .sub-menu li {
	text-align: right;
}
.headerMenu .sub-menu li.menu-parent:hover > .sub-menu {
	right: 100%;
	left: auto;
}
.headerMenuSearch .searchform {
	left: 0;
	right: auto;
}
.headerMenuSearch .searchform input {
	float: right;
}
.headerMenuSearch .searchform button {
	float: right;
}
.headerMenu .menuContent a i.icon-right-open:before {
	content: '\e874';
}
/** Menu End **/
/* =Toggled Menu
 -------------------------------------------------------------- */
body {
	right: 0;
}
body.animateBody {
	transition: right 0.5s;
	-webkit-transition: right 0.5s;
	-moz-transition: right 0.5s;
	-o-transition: right 0.5s;
	-ms-transition: right 0.5s;
}
body.slideBody {
	left: auto;
	right: -270px;
}
.toggledMenu .menuWrapper {
	text-align: right;
	left: -270px;
	right: auto;
	border-right: 2px solid #E32831;
	border-left: none;
}
.toggledMenu.openMenu .menuWrapper {
	left: 0;
	right: auto;
}
.toggledMenu .sub-menu {
	padding-right: 15px;
	padding-left: 0;
}
.closeMenu {
	left: 0;
	right: auto;
	border-width: 50px 50px 0 0;
}
.closeMenu span {
	left: 3px;
	right: auto;
}
/** =Toggled Menu End **/
/*Header Social*/
.headerSocial li:first-child {
	margin-left: 17px;
	margin-right: 0;
}
/** Header Social End **/
/** Side Header **/
@media (min-width: 980px) {
	.sideHeader {
		left: auto !important;
	}
	.sideHeader.openSideHeader {
		right: 0 !important;
		left: auto !important;
	}
	.sideHeader .topHeader, .sideHeader .mainHeader {
		float: left;
	}
	/** Menu **/
	.sideHeader .headerMenu .menuContent a i {
		left: 5px;
		right: auto;
	}
	.sideHeader .headerMenu .menuContent a i.icon-down-open:before {
		content: '\e874';
	}
	.sideHeader .headerMenu li.menu-parent:hover > .sub-menu {
		right: 100%;
		left: auto;
	}
	.sideHeader .headerMenu .menuContent > li > a:after {
		left: 0;
		right: auto;
	}
	.sideHeader .cart-dropdown .cart-dropdown-elements {
		right: 100%;
		left: auto;
		text-align: right;
	}
	/** Menu **/
}
/** Side Header End **/
@media (max-width: 767px) {
	.headerMenu.responsiveCheck .menuContent > li > a {
		text-align: right;
	}
}
/** Rtl End **/