/* FAQ Block
 ====================================================================*/
.faqContainer {
	height: auto !important;
}
.faqItem .aq_block_toggle {
	background: none;
	margin: 0 !important;
	position: relative;
	border: none;
}
.faqItem .aq_block_toggles_wrapper {
	margin: 0 0 0px;
}
.faqItem .aq_block_accordion {
	margin-top: 10px;
}
.faqItem .aq_block_accordion.first-child {
	margin: 0.5em 0 0;
}
.faqItem .aq_block_accordion.last-child {
	margin: 10px 0 10px;
}
.faqItem .aq_block_toggle h6 {
	border: 1px solid #d9d9d9;
	cursor: pointer;
	padding: 16px 71px 16px 20px;
	margin: 0;
	min-height: 50px;
	position: relative;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.faqItem .aq_block_toggle h6 div {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	overflow: hidden;
	float: right;
	display: inline-block;
	border-left: 1px solid #D9D9D9;
	margin: 0;
	padding: 0;
	background: none;
	border-radius: 0;
	line-height: 0;
	font-size: 0;
}
.faqItem .aq_block_toggle h6 div:before {
	content: '';
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}
.faqItem .aq_block_toggle h6 div span {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 15px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	font-size: 17px;
	color: #FFF;
	line-height: 30px;
	text-align: center;
}
.faqItem .aq_block_toggle h6 div span:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}
.faqItem .aq_block_toggle h6 div.icon-plus-1 span:before {
	content: '\e816';
}
.faqItem .aq_block_toggle h6 div.icon-minus span:before {
	content: '\e819';
}
.faqItem .aq_block_toggle .tab-body, .faqItem .aq_block_accordion .tab-body {
	display: none;
	padding: 20px 20px 40px;
	background: #f8f8f8;
	border: 1px solid #d9d9d9;
	border-top: none;
}
.faqItem .aq_block_toggle .tab-body.open, .aq_block_accordion .tab-body.open {
	display: block;
}
/*=============================================*\
 Some styles to show off masonry layout
 \*=============================================*/
.faqNavList {
	background: url(../../img/common/sortableNavIcon.png);
	background-repeat: no-repeat;
	float: left;
	display: block;
	height: 24px;
	color: #454545;
	font-family: 'sourceSans';
	font-size: 13px;
	padding: 0px 0px 0px 13px;
	background-position: 0px 6px;
	margin-right: 20px;
	cursor: pointer;
}
.faqNavList:hover {
	/* color: #b92424 */
}
.faqNavList.active {
	font-family: 'SourceSansSemiBold';
	color: #2a2a2a;
}
.faqItem {
	margin-top: 30px;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transform: none !important;
	-moz-transform: none !important;
	-o-transform: none !important;
	-ms-transform: none !important;
	position: relative !important;
}
.faqItem.isotope-hidden {
	display: none;
	opacity: 0;
}