.imagesWidgetList {
	margin-left: 0px;
}
.imagesWidgetList li img {
	display: table;
	margin: 0 auto;
	margin-bottom: 40px;
	opacity: 0.5;
	filter: alpha(opacity=50);
	-webkit-transition: 0.5s ease-in;
	-moz-transition: 0.5s ease-in;
	-o-transition: 0.5s ease-in;
	transition: 0.5s ease-in;
}
.imagesWidgetList li img:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}