/** Shop **/
.woocommerce #content ul {
	margin: 0;
	padding: 0;
}
.woocommerce #content li {
	list-style: none;
}
.flatBtn {
	border: none;
	display: block;
	padding: 0 9px;
	/* background: #e32831 */
}
.flatBtn .clearfix {
	margin: 0 auto;
	display: table;
}
.flatBtn span {
	color: white;
	line-height: 30px;
	float: left;
	margin-right: 6px;
}
.flatBtn p {
	color: white;
	line-height: 30px;
	float: left;
	margin: 0;
}
.woocommerce-result-count {
	margin: 8px 0;
	float: right;
}
.woocommerce-checkout .form-row .chosen-container-single .chosen-single {
	background: none;
	box-shadow: none;
}
.chosen-container-single .chosen-single div {
	margin-top: 2px;
}
.woocommerce-ordering select {
	border-radius: 0;
	border: 1px solid #d9d9d9;
	position: relative;
	background-color: transparent;
	margin: 0;
	height: 35px;
	line-height: 25px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
}
.woocommerce-ordering .selectOverlay {
	position: relative;
	width: 220px;
}
.selectOverlay {
	display: inline-block;
	position: relative;
}
.selectOverlay .icon-down-open {
	position: absolute;
	right: 10px;
	line-height: 31px;
	z-index: -1;
}
.selectOverlay select {
	background-color: transparent;
	-webkit-appearance: none;
	padding-top: 0px;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 20px;
}
@-moz-document url-prefix() {
.selectOverlay select{
text-indent: 0.01px;
text-overflow: '';
-moz-appearance: none;
padding-top: 4px;
}
.applyCoupons label.btnStyle2 input {
padding: 6px 10px 7px !important;
}
}
.woocommerce-ordering .selectOverlay .icon-down-open {
	position: absolute;
	color: #5a5a5a;
	font-size: 13px;
	right: 10px;
	top: 9px;
	line-height: 18px;
}
.cf-masonry .itemNavigation {
	height: auto
}
.itemNavigation {
	border: 1px solid #e6e6e6;
	height: 217px;
	overflow: hidden;
	display: block;
	position: relative;
	margin-bottom: 15px;
}
.itemNavigation img {
	clear: both;
	display: block;
}
.itemSale {
	position: absolute;
	top: 10px;
	left: 10px;
	border-radius: 50%;
	/* background-color: #e32831; */
	width: 45px;
	height: 45px;
	text-align: center;
}
.itemSale p {
	font-family: 'SourceSansSemiBold';
	font-size: 13px;
	line-height: 15px;
	color: white;
	margin: 15px 0 0;
}
.outofstock .itemSale p {
	font-size: 12px;
	margin-top: 6px;
}
.itemNavigation:hover .itemSale {
	animation: saleHover 0.5s ease;
	-webkit-animation: saleHover 0.5s ease;
	-moz-animation: saleHover 0.5s ease;
	-o-animation: saleHover 0.5s ease;
}
@-webkit-keyframes saleHover {
0% {
-webkit-transform: translateY(0px) rotate(0deg);
}
25% {
-webkit-transform: rotate(-30deg);
}
50% {
-webkit-transform: translateY(0) rotate(0deg);
}
75% {
-webkit-transform: rotate(30deg);
}
100% {
-webkit-transform: translateY(0px) rotate(0deg);
}
}
@-moz-keyframes saleHover {
0% {
-moz-transform: translateY(0px) rotate(0deg);
}
25% {
-moz-transform: rotate(-30deg);
}
50% {
-moz-transform: translateY(0) rotate(0deg);
}
75% {
-moz-transform: rotate(30deg);
}
100% {
-moz-transform: translateY(0px) rotate(0deg);
}
}
@-o-keyframes saleHover {
0% {
-o-transform: translateY(0px) rotate(0deg);
}
25% {
-o-transform: rotate(-30deg);
}
50% {
-o-transform: translateY(0) rotate(0deg);
}
75% {
-o-transform: rotate(30deg);
}
100% {
-o-transform: translateY(0px) rotate(0deg);
}
}
@keyframes saleHover {
0% {
transform: translateY(0px) rotate(0deg);
}
25% {
transform: rotate(-30deg);
}
50% {
transform: translateY(0) rotate(0deg);
}
75% {
transform: rotate(30deg);
}
100% {
transform: translateY(0px) rotate(0deg);
}
}
.addToCart, .itemMore {
	width: 50%;
	position: absolute;
	bottom: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	padding: 0;
	overflow: hidden;
}
.addToCart {
	color: #fff;
	font-size: 8px;
	left: -50%;
	height: auto;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	cursor: pointer;
	display: inline-block;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	background-color: #b83333;
	transition: left 0.8s cubic-bezier(0,1.12,.39,.98), opacity 0.8s cubic-bezier(0,1.12,.39,.98);
	-webkit-transition: left 0.8s cubic-bezier(0,1.12,.39,.98), opacity 0.8s cubic-bezier(0,1.12,.39,.98);
	-moz-transition: left 0.8s cubic-bezier(0,1.12,.39,.98), opacity 0.8s cubic-bezier(0,1.12,.39,.98);
	-o-transition: left 0.8s cubic-bezier(0,1.12,.39,.98), opacity 0.8s cubic-bezier(0,1.12,.39,.98);
	-ms-transition: left 0.8s cubic-bezier(0,1.12,.39,.98), opacity 0.8s cubic-bezier(0,1.12,.39,.98);
}
.addToCart:before, .itemMore:before {
	position: absolute;
	height: 100%;
	width: 100%;
	line-height: 2.5;
	font-size: 180%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.addToCart:hover:before, .itemMore:hover:before {
	left: 0;
}
.addToCart:before, .itemMore:before {
	left: -100%;
	top: 0;
}
.addToCart span, .itemMore span {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	-webkit-transition: all 0.3s;
	-webkit-backface-visibility: hidden;
	-moz-transition: all 0.3s;
	-moz-backface-visibility: hidden;
	transition: all 0.3s;
	backface-visibility: hidden;
	-webkit-transform: translateX(-200%);
	-moz-transform: translateX(-200%);
	-ms-transform: translateX(-200%);
	transform: translateX(-200%);
}
.addToCart:hover span, .itemMore:hover span {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}
.addToCart p, .itemMore p {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.addToCart:hover p, .itemMore:hover p {
	backface-visibility: hidden;
	-webkit-transform: translateX(400%);
	-moz-transform: translateX(400%);
	-ms-transform: translateX(400%);
	transform: translateX(400%);
}
.itemMore {
	/* background: #e32831 */
	right: -50%;
	transition: right 0.8s cubic-bezier(0,1.12,.39,.98), opacity 0.8s cubic-bezier(0,1.12,.39,.98);
	-webkit-transition: right 0.8s cubic-bezier(0,1.12,.39,.98), opacity 0.8s cubic-bezier(0,1.12,.39,.98);
	-moz-transition: right 0.8s cubic-bezier(0,1.12,.39,.98), opacity 0.8s cubic-bezier(0,1.12,.39,.98);
	-o-transition: right 0.8s cubic-bezier(0,1.12,.39,.98), opacity 0.8s cubic-bezier(0,1.12,.39,.98);
	-ms-transition: right 0.8s cubic-bezier(0,1.12,.39,.98), opacity 0.8s cubic-bezier(0,1.12,.39,.98);
}
.itemNavigation:hover .addToCart {
	left: 0;
	opacity: 1;
	filter: alpha(opacity=100);
}
.itemNavigation:hover .itemMore {
	right: 0;
	opacity: 1;
	filter: alpha(opacity=100);
}
.addToCart.cf-one-button {
	width: 100%;
	left: 0;
	/* background: #e32831 */
}
.addToCart.cf-one-button span:before {
	content: '\e84b';
}
.addToCart span, .itemMore span {
	font-size: 16px;
	margin-right: 0;
}
.addToCart.loading p {
	margin-left: 22px;
}
/*.addToCart.loading span {
 position: absolute;
 animation: moveToRight 0.8s;
 -webkit-animation: moveToRight 0.8s;
 -moz-animation: moveToRight 0.8s;
 -o-animation: moveToRight 0.8s;
 }*/
.addToCart.loading p {
	-webkit-animation: fadeOutText 0.8s;
	-moz-animation: fadeOutText 0.8s;
	animation: fadeOutText 0.8s;
	-o-animation: fadeOutText 0.8s;
}
.addToCart.loading span {
	animation: spin 1s infinite;
	-webkit-animation: spin 1s infinite;
	-moz-animation: spin 1s infinite;
	-o-animation: spin 1s infinite;
}
.addToCart.loading span:before {
	content: '\e891';
}
.addToCart.added span:before {
	content: '\e812';
}
@keyframes moveToRight {
80% { transform: translateX(200px); }
81% { opacity: 1; transform: translateX(200px); }
82% { opacity: 0; transform: translateX(200px); }
83% { opacity: 0; transform: translateX(-200px); }
84% { opacity: 1; transform: translateX(-200px);  }
100% { transform: translateX(0%); }
}
@-webkit-keyframes moveToRight {
80% { -webkit-transform: translateX(200px); }
81% { opacity: 1; -webkit-transform: translateX(200px); }
82% { opacity: 0; -webkit-transform: translateX(200px); }
83% { opacity: 0; -webkit-transform: translateX(-200px); }
84% { opacity: 1; -webkit-transform: translateX(-200px);  }
100% { -webkit-transform: translateX(0%); }
}
@-moz-keyframes moveToRight {
80% { -moz-transform: translateX(200px); }
81% { opacity: 1; -moz-transform: translateX(200px); }
82% { opacity: 0; -moz-transform: translateX(200px); }
83% { opacity: 0; -moz-transform: translateX(-200px); }
84% { opacity: 1; -moz-transform: translateX(-200px);  }
100% { -moz-transform: translateX(0%); }
}
@-o-keyframes moveToRight {
80% { -o-transform: translateX(200px); }
81% { opacity: 1; -o-transform: translateX(200px); }
82% { opacity: 0; -o-transform: translateX(200px); }
83% { opacity: 0; -o-transform: translateX(-200px); }
84% { opacity: 1; -o-transform: translateX(-200px);  }
100% { -o-transform: translateX(0%); }
}
@keyframes fadeOutText {
0% { color: transparent; }
80% { color: transparent; }
100% { color: #fff; }
}
@-moz-keyframes fadeOutText {
0% { color: transparent; }
80% { color: transparent; }
100% { color: #fff; }
}
@-webkit-keyframes fadeOutText {
0% { color: transparent; }
80% { color: transparent; }
100% { color: #fff; }
}
@-o-keyframes fadeOutText {
0% { color: transparent; }
80% { color: transparent; }
100% { color: #fff; }
}
.aq-block .itemMore, .aq-block .addToCart {
	position: static;
	opacity: 1;
	width: 100%;
	text-align: center;
}
.aq-block .flatBtn p {
	float: none;	
}
.aq-block .flatBtn span {
	display: none;
}
.aq-block .addToCart:hover p, .aq-block .itemMore:hover p {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.itemRating {
	position: absolute;
	bottom: -23px;
	background-color: white;
	background-color: rgba(255,255,255,0.9);
	margin: 0 auto;
	width: 80px;
	border-radius: 4px;
	padding: 5px 9px;
	left: 0;
	right: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transition: 0.8s cubic-bezier(0,1.12,.39,.98);
	-webkit-transition: 0.8s cubic-bezier(0,1.12,.39,.98);
	-moz-transition: 0.8s cubic-bezier(0,1.12,.39,.98);
	-o-transition: 0.8s cubic-bezier(0,1.12,.39,.98);
	-ms-transition: 0.8s cubic-bezier(0,1.12,.39,.98);
}
.itemNavigation:hover .itemRating {
	bottom: 40px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
}
.itemName {
	float: left;
}
.itemPrice h5 {
	float: left;
	margin-bottom: 0;
}
.itemPrice h5 del {
	color: #5a5a5a;
	opacity: 0.5;
	filter: alpha(opacity=50);
	margin-right: 10px;
}
.itemPrice h5 ins {
	text-decoration: none;
}
.productsSorting {
	margin-bottom: 20px;
}
.shopcart-dropdown-headerer {
	border: 1px solid #d9d9d9;
	padding: 7px 4px 7px 8px;
	width: 220px;
	cursor: default;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.previousSorting {
	border: 1px solid #d9d9d9;
	width: 36px;
	height: 35px;
	margin-left: 15px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.sortingArrow {
	font-family: 'entypo';
}
.shopcart-dropdown-headerer p {
	margin: 0;
}
.shopDropDownOptions {
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 10;
	background: white;
}
.shopDropDownOptions li {
	padding: 4px 4px 5px 8px;
	width: 220px;
	border: 1px solid #d9d9d9;
	border-top: none;
	margin-bottom: 0;
	cursor: pointer;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	transition: 0.6s ease-in;
	-webkit-transition: 0.6s ease-in;
	-moz-transition: 0.6s ease-in;
	-o-transition: 0.6s ease-in;
	-ms-transition: 0.6s ease-in;
}
.shopDropDownOptions li:hover {
	background-color: #efefef;
	transition: 0.6s ease-in;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	-ms-transition: 0.3s ease-in;
}
.shopDropDownOptions p {
	margin: 0;
	transition: 0.6s ease-in;
	-webkit-transition: 0.6s ease-in;
	-moz-transition: 0.6s ease-in;
	-o-transition: 0.6s ease-in;
	-ms-transition: 0.6s ease-in;
}
.shopDropDownOptions li:hover p {
	/* color: #e32831 */
	transition: 0.6s ease-in;
	-webkit-transition: 0.3s ease-in;
	-moz-transition: 0.3s ease-in;
	-o-transition: 0.3s ease-in;
	-ms-transition: 0.3s ease-in;
}
.woocommerceAlert {
	margin: 0 auto 20px !important;
	display: block;
	max-width: 940px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.row .woocommerceAlert {
	margin-left: 20px !important;
}
.woocommerce-message a {
	/* color: #e32831 */
}
.woocommerce-error li {
	margin-bottom: 0;
}
/** Shop end **/
/** Mini Cart **/
.wooCommerceTitle h1 {
	float: left;
}
.woocommerce-breadcrumb {
	display: inline-block;
	padding: 20px 0px;
	font-size: 14px;
	line-height: 24px;
}
.wooCommerceMini {
	float: right;
}
.cart-dropdown {
	position: relative;
	display: inline-block;
	margin: 0;
}
.wooCommerceTitle .cart-dropdown {
	margin-top: 14px;
	margin-left: 10px;
}
.headerStyle1 .cart-dropdown .cart-dropdown-header {
	margin: 4px auto;
}
.cart-dropdown .cart-dropdown-header {
	padding: 9px !important;
	cursor: pointer;
	border-radius: 50%;
	transition: 0.3s cubic-bezier(.98,.98,.93,.69);
	-webkit-transition: 0.3s cubic-bezier(.98,.98,.93,.69);
	-moz-transition: 0.3s cubic-bezier(.98,.98,.93,.69);
	-o-transition: 0.3s cubic-bezier(.98,.98,.93,.69);
	-ms-transition: 0.3s cubic-bezier(.98,.98,.93,.69);
	margin: 0 auto;
	display: inline-block
}
.cart-dropdown .cart-dropdown-header span {
	color: #444;
	font-size: 14px;
	height: 16px;
	width: 16px;
	display: block;
	text-align: center;
	margin: 0;
	transition: 0.3s cubic-bezier(.98,.98,.93,.69);
	-webkit-transition: 0.3s cubic-bezier(.98,.98,.93,.69);
	-moz-transition: 0.3s cubic-bezier(.98,.98,.93,.69);
	-o-transition: 0.3s cubic-bezier(.98,.98,.93,.69);
	-ms-transition: 0.3s cubic-bezier(.98,.98,.93,.69);
}
.cart-dropdown.openMini .cart-dropdown-header {
	/* background-color: #e32831 */
}
.cart-dropdown.openMini .cart-dropdown-header span {
	color: #ffffff !important;
}
.cart-dropdown .cart-dropdown-elements {
	border: 1px solid #c8c8c8;
	background-color: #fafafa;
	height: auto;
	width: 300px;
	right: 0;
	top: 50px;
	border-radius: 5px;
	position: absolute;
	display: none;
	z-index: -1;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.cart-dropdown.openMini .cart-dropdown-elements {
	pointer-events: bounding-box;
	display: block;
	z-index: 20;
}
.cart-dropdown .cart-dropdown-elements ul {
	margin: 0 0 10px;
	max-height: 225px;
	overflow: auto;
	pointer-events: none;
}
.cart-dropdown .cart-dropdown-elements li {
	margin: 0;
	padding: 10px 10px 10px 20px;
	border-bottom: 1px solid #f0efee;
}
.cart-dropdown .cart-dropdown-elements li.empty {
	border-bottom: none;
	padding-bottom: 0;
}
.cart-dropdown .cart-dropdown-elements li:nth-child(even) {
	background-color: #f0efee;
}
.cart-dropdown .cart-dropdown-elements .miniDetails {
	float: left;
	width: 196px;
}
.cart-dropdown .cart-dropdown-elements .miniDetails h6 {
	margin-bottom: 10px;
}
.cart-dropdown .cart-dropdown-elements .miniDetails p {
	margin: 0;
	color: #5a5a5a;
}
.cart-dropdown .cart-dropdown-elements .miniDetails p span {
	color: #e32831
}
.cart-dropdown .cart-dropdown-elements .miniThumbnail {
	float: right;
	border-radius: 5px;
	border: 1px solid #c8c8c8;
	width: 52px;
	height: 52px;
}
.product_list_widget li .miniThumbnail .attachment-shop_thumbnail {
	float: none;
	border-radius: 5px;
	margin: 0;
}
.cart-dropdown .cart-dropdown-elements .miniTotal {
	margin-bottom: 10px;
	text-align: center;
}
.cart-dropdown .cart-dropdown-elements .miniTotal h6 {
	font-family: 'sourceSans';
	color: #1c6ea5;
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 10px;
}
.cart-dropdown .cart-dropdown-elements .miniTotal .button {
	display: inline-block !important;
	margin: 0 3px;
}
/** Mini Cart End **/
/** Single Product **/
.singleProduct .onsale {
	display: none;
}
.singleProduct .postImage {
	border: 1px solid #e6e6e6;
	overflow: hidden;
	margin-bottom: 15px;
	max-width: 370px;
	cursor: move;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.singleProduct .postCreagory {
	margin-bottom: 30px;
}
.singleProduct .postCreagory a:first-child {
	margin-left: 0;
}
.singleProduct .postCreagory a {
	float: left;
	margin-left: 25px;
	margin-bottom: 20px;
}
.singleProduct .woocommerce-product-rating .star-rating {
	margin-bottom: 10px;
}
.singleProduct .postDetails .itemPrice {
	margin-bottom: 10px;
}
.singleProduct .woocommerce-product-rating .woocommerce-review-link {
	font-family: 'sourceSans';
	font-size: 12px;
	color: #5A5A5A;
	margin: 0 0 10px 0;
	display: block;
}
.singleProduct .itemCount form {
	margin: 0;
}
.singleProduct .itemCount input {
	width: 63px;
	height: 35px;
	border: 1px solid #aeaeae;
	border-radius: 0;
	color: #717171;
	line-height: 15px;
	margin: 0 20px 20px 0;
	padding: 0 10px;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.singleProduct .itemCount input.minus, .singleProduct .itemCount input.plus {
	display: none;
}
.singleProduct .itemCount .singleAddToCart {
	float: left;
	margin: 0 0 20px 0;
}
.singleProduct .product_meta {
	margin-bottom: 20px;
}
.singleProduct .product_meta span {
	font-size: 11px;
	font-family: 'sourceSans';
}
.singleProduct .product_meta span.posted_in, .singleProduct .product_meta span.sku {
	margin-right: 40px;
}
.singleProduct .product_meta [class*="icon-"] {
	color: #5a5a5a;
	font-size: 14px;
	margin-right: 5px;
}
.postRelatedImages {
	margin-left: -10px;
}
.postRelatedImages .singleThumbnail {
	width: 91px;
	height: 91px;
	cursor: pointer;
	float: left;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px solid #b2b2b2;
	border-radius: 50%;
	overflow: hidden;
}
.woocommerce-tabs {
	border: solid #e0e0e0;
	border-width: 0 0 1px 1px;
	margin-bottom: 20px;
}
.woocommerce-tabs .tabs {
	border-bottom: 1px solid #e0e0e0;
}
.woocommerce-tabs .tabs li {
	float: left;
	border: solid #e0e0e0;
	border-width: 1px 1px 0px 0px;
	background-color: #fbfbfb;
	margin-bottom: 0;
}
.woocommerce-tabs .tabs li.active {
	background-color: transparent;
	border-top-color: transparent;
	margin-top: 1px;
}
.woocommerce-tabs .tabs li a {
	display: block;
	padding: 10px 30px;
	margin: -1px 0;
	border-top: 3px solid transparent;
	border-bottom: 1px solid transparent;
}
.woocommerce-tabs .tabs li.active a {
	border-bottom-color: white;
	/* border-top-color: #b92424 */
}
.woocommerce-tabs .tabs li a p {
	font-size: 16px;
	line-height: 18px;
	color: #2a2a2a;
	margin: 0;
}
.woocommerce-tabs .panel {
	padding: 15px 15px 5px;
	border-right: 1px solid #e0e0e0;
	margin: 0;
}
.star-rating {
	width: 81px;
	height: 13px;
	background-image: url('../../img/shop/stars.png');
	background-position: 0 -15px;
	background-repeat: repeat-x;
}
.star-rating span {
	display: block;
	background-image: url('../../img/shop/stars.png');
	background-repeat: repeat-x;
	width: 17px;
	height: 13px;
	text-indent: -9999px;
}
.totlaProductRating {
	margin-bottom: 15px;
}
.totlaProductRating h5 {
	margin-bottom: 0;
}
.singleProduct .totlaProductRating .woocommerce-product-rating {
	float: right;
}
.singleProduct .totlaProductRating .woocommerce-product-rating .woocommerce-review-link {
	display: none;
}
.productComment {
	padding: 0;
	margin-top: 0;
}
.productComment li {
	padding: 15px 15px 5px;
	border: 1px solid #e0e0e0;
	margin-top: 20px;
}
.productComment li:first-child {
	margin-top: 0;
}
.productComment li .commentAvatar {
	float: left;
	width: 60px;
	height: 60px;
	position: relative;
}
.productComment li .commentAvatar:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	box-shadow: inset 0 0 0 3px rgba(255,255,255,0.35);
	-webkit-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.35);
	-moz-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.35);
}
.productComment .comment_container {
	margin-bottom: 10px;
}
.productComment li .commentDetails {
	margin-left: 80px;
}
.productComment li .star-rating {
	float: right;
}
.productComment li .authorReview {
	overflow: hidden;
	display: block;
}
.productComment li .commentAuthor {
	float: left;
	margin-bottom: 10px;
}
.productComment li .commentAuthor p {
	display: inline-block;
	font-size: 15px;
	line-height: 17px;
	color: #2a2a2a;
	margin-bottom: 0;
}
.productComment li .commentAuthor span {
	display: inline-block;
	font-size: 11px;
	line-height: 13px;
	font-family: 'sourceSans';
	font-style: italic;
}
p.stars span {
	width: 81px;
	height: 13px;
	position: relative;
	background-image: url('../../img/shop/stars.png');
	background-repeat: repeat-x;
	background-position: 0 -15px;
	display: block;
}
p.stars a {
	display: block;
	height: 13px;
	float: left;
	text-indent: -9999px;
	position: absolute;
	top: 0;
	left: 0;
}
p.stars a:hover, p.stars a.active {
	background-image: url('../../img/shop/stars.png');
	background-position: 0 0;
}
p.stars a.star-1 {
	width: 17px;
	z-index: 10;
}
p.stars a.star-2 {
	width: 34px;
	z-index: 9;
}
p.stars a.star-3 {
	width: 51px;
	z-index: 8;
}
p.stars a.star-4 {
	width: 68px;
	z-index: 7;
}
p.stars a.star-5 {
	width: 81px;
	z-index: 6;
}
.comment-form-comment textarea {
	width: 100%;
	border: 1px solid #d4d4d4;
	border-radius: 0;
	height: 130px;
	resize: none;
	box-shadow: inset 0 0 3px 1px rgba(153, 153, 153, 0.3);
	-webkit-box-shadow: inset 0 0 3px 1px rgba(153, 153, 153, 0.3);
	-moz-box-shadow: inset 0 0 3px 1px rgba(153, 153, 153, 0.3);
}
.comment-form-comment textarea:focus {
	box-shadow: inset 0 0 3px 1px rgba(153, 153, 153, 0.8);
	-webkit-box-shadow: inset 0 0 3px 1px rgba(153, 153, 153, 0.8);
	-moz-box-shadow: inset 0 0 3px 1px rgba(153, 153, 153, 0.8);
}
#tab-additional_information table {
	text-align: left;
}
#tab-additional_information table th, #tab-additional_information table td {
	padding: 0 10px 10px 0;
}
.singleSeparators {
	margin: 40px 0;
}
.singleSeparators hr {
	height: 2px;
	border-top: 2px dotted #c4c4c4;
	margin-bottom: 1px;
	margin: 0;
}
.singleProduct .variations_form table {
	margin-bottom: 15px;
}
.singleProduct .variations_form td.label label {
	margin-bottom: 0;
}
.singleProduct .variations_form td.label h5 {
	margin-bottom: 0;
	line-height: 29px;
}
.singleProduct .variations_form td.value select {
	margin-bottom: 0;
	border-radius: 0;
	height: 29px;
}
.singleProduct .reset_variations {
	display: none;
	vertical-align: middle
}
/** Single Product end **/
/** Cart **/
.cartTable {
	border: solid #dedede;
	border-width: 1px 1px 0 0;
	width: 100%;
	margin-bottom: 0 !important;
}
.cartTable tr {
	border-bottom: 1px solid #dedede;
	background: white;
}
.cartTable tr:nth-child(odd) {
	background-color: #f5f5f5;
}
.cartTable thead tr {
	background: white !important;
}
.cartTable td, .cartTable th {
	border-left: 1px solid #dedede;
	vertical-align: middle !important;
	text-align: center !important;
}
.cartTable h5, .cartTable p {
	margin: 0
}
.cartTable th {
	padding: 10px 0;
	text-align: center;
}
.cartTable td {
	padding: 7px 0;
	text-align: center;
}
.cartTable .productName {
	text-align: left !important;
	padding: 0 15px;
}
.cartTable .productRemove span {
	font-size: 20px;
}
.productThumbnail a {
	border: 1px solid #dedede;
	border-radius: 5px;
	width: 52px;
	height: 52px;
	overflow: hidden;
	display: block;
	margin: 0 auto;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.productQuantity input {
	width: 63px;
	height: 30px;
	border: 1px solid #AEAEAE;
	border-radius: 0;
	color: #717171;
	line-height: 15px;
	margin: 0 auto;
	display: block;
	padding: 0 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.productQuantity input[type="button"] {
	display: none;
}
.cartNavigation {
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: none;
	padding: 15px 15px 0;
	margin-bottom: 30px;
}
.applyCoupons {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
.applyCoupons input[type="text"] {
	border: 1px solid #d6d6d6;
	border-radius: 0;
	display: inline-block;
	float: left;
	margin: 0;
	width: 233px;
	height: 30px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.applyCoupons label.btnStyle2 {
	margin-left: -7px;
	display: inline-block !important;
	padding: 0;
	float: left;
	cursor: pointer;
	height: 30px;
	width: 109px;
}
.applyCoupons label.btnStyle2 input {
	padding: 3px 10px 4px;
}
.applyCoupons label.btnStyle2:hover .btnBefore {
	border-width: 0 0 1px 0;
}
.added_to_cart.wc-forward {
	display: none;
}
.updateCart {
	float: left;
	margin-right: 20px;
	margin-bottom: 15px;
}
.updateCart label.btnStyle2 {
	padding: 3px 10px;
	margin-bottom: 0;
}
.updateCart:hover span.btnIcon {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
}
.checkoutCart {
	margin-bottom: 15px;
	float: left;
}
.checkoutCart label.btnStyle2 {
	padding: 3px 10px;
}
.cart-collaterals .cross-sells {
	margin-left: 30px;
}
.shopState input {
	border: 1px solid #d6d6d6;
	border-radius: 0;
	display: inline-block;
	margin: 0 0 20px 0;
	width: 233px;
	height: 35px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.shipping-calculator-form {
	display: block !important;
}
.shipping-calculator-form select {
	margin-bottom: 20px;
}
.shipping-calculator-form p {
	margin-bottom: 0;
}
/** Cart end **/
/** Checkout **/
.customerLogin hr {
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #f1f1f1;
	margin: 20px 0;
}
.customerLogin h4 {
	margin-bottom: 10px;
}
.customerLogin .showlogin {
	margin-left: 15px;
}
.customerLogin .showlogin p {
	margin-bottom: 0;
}
.customerLogin form {
	overflow: hidden;
	margin: 20px 0 0;
}
.customerLogin label {
	font-family: 'sourceSans';
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #404040;
	width: 120px;
	float: left;
	text-align: right;
}
.customerLogin label span.required {
	/* color: #e32831 */
}
.customerLogin form > p:first-child {
	margin-bottom: 20px;
}
.customerLogin form .form-row {
	float: left;
	margin-bottom: 20px;
}
.customerLogin form .form-row-first {
	float: none;
}
.customerLogin form .clear {
	clear: none;
}
.customerLogin form .input-text {
	width: 370px;
	height: 30px;
	border: 1px solid #c6c6c6;
	border-radius: 0;
	margin-left: 10px;
	margin-bottom: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.customerLogin form input.button {
	border: none;
	/* background-color: #e32831 */
	color: white;
	line-height: 20px;
	font-family: 'sourceSans';
	font-size: 13px;
	padding: 4px 35px 6px;
	margin-left: 30px;
}
.customerLogin form .lost_password {
	font-size: 12px;
	line-height: 20px;
	color: black;
	font-family: 'sourceSans';
	margin-left: 10px;
}
.checkoutCoupon .container {
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 20px;
}
.checkoutCoupon h4 {
	margin-bottom: 10px;
}
.checkoutCoupon .showcoupon {
	clear: both;
	display: block;
	font-size: 14px;
	line-height: 20px;
}
.checkoutCoupon .showcoupon p {
	margin-bottom: 0;
}
.checkoutCoupon form {
	overflow: hidden;
	margin: 15px 0 0;
	padding-top: 5px;
}
.checkoutCoupon label {
	font-family: 'sourceSans';
	font-weight: bold;
	font-size: 12px;
	line-height: 30px;
	color: #404040;
	width: 120px;
	float: left;
	text-align: right;
}
.checkoutCoupon form .form-row {
	float: left;
	margin-bottom: 20px;
}
.checkoutCoupon form .input-text {
	width: 370px;
	height: 33px;
	border: 1px solid #c6c6c6;
	border-radius: 0;
	margin-right: 20px;
	margin-bottom: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.checkoutCoupon form input.button {
	border: none;
	/* background-color: #b92424 */
	color: white;
	line-height: 20px;
	font-family: 'sourceSans';
	font-size: 13px;
	padding: 4px 35px 6px;
	margin-left: 30px;
}
.checkoutForm .container {
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #f1f1f1;
	padding-bottom: 20px;
	padding-top: 20px;
}
.checkoutForm .form-row label {
	font-family: 'sourceSans';
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: #404040;
}
.checkoutForm .form-row label .required {
	border-bottom: 0;
	font-family: 'sourceSans';
	font-weight: bold;
	font-size: 12px;
	/* color: #e32831 */
}
.checkoutForm .form-row .input-text {
	width: 370px;
	height: 32px;
	border: 1px solid #C6C6C6;
	border-radius: 0;
	margin-bottom: 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.checkoutForm .form-row input[type="checkbox"] {
	float: left;
	margin: 0;
}
.checkoutFomr #shiptobilling {
	float: left;
}
.checkoutForm .userSignup {
	float: left;
	width: 370px;
	margin-right: 15px;
}
.checkoutForm .form-row textarea.input-text {
	width: 100%;
	height: 300px;
	resize: none;
}
#ship-to-different-address input {
	float: left;
}
#ship-to-different-address label {
	float: left;
	padding-left: 10px;
}
#place_order {
	font-family: 'sourceSans';
	float: right;
	border: none;
	/* background-color: #e32831 */
	color: white;
	font-size: 12px;
	line-height: 16px;
	border: 1px solid #E32831;
	padding: 6px 13px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#place_order:hover {
	background-color: #F1F1F1 !important;
	color: #5a5a5a;
}
.checkoutForm #billing_first_name_field {
	float: left;
}
.checkoutForm #billing_last_name_field {
	float: left;
	margin-left: 15px;
}
.woocommerce-checkout .checkoutForm .form-row .chzn-container {
	width: 370px !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.woocommerce-checkout .checkoutForm .form-row .chzn-container-single .chzn-single {
	height: 30px;
	border-radius: 0;
	border: 1px solid #C6C6C6;
	background-color: white;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.checkoutForm .chzn-container-single .chzn-single span {
	margin-right: 30px;
}
.woocommerce-checkout .checkoutForm .form-row .chzn-container-single .chzn-single div {
	background-color: #f5f7f9;
	width: 30px;
}
.woocommerce-checkout .checkoutForm .form-row .chzn-container-single .chzn-single div b {
	background-image: none !important;
	text-align: center;
	color: #5f5f5f;
	line-height: 30px;
}
.woocommerce-checkout .checkoutForm .form-row .chzn-container-single .chzn-single div b:before {
	content: '\e873';
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}
.woocommerce-checkout .checkoutForm .form-row .chzn-container-single.chzn-container-active .chzn-single div {
	opacity: 0.6;
	filter: alpha(opacity=60);
}
.woocommerce-checkout .checkoutForm .form-row .chzn-container .chzn-drop {
	border-color: #C6C6C6;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
.woocommerce-checkout .checkoutForm .form-row .chzn-container.chzn-container-active .chzn-drop {
	top: 32px !important;
}
.woocommerce-checkout .checkoutForm .form-row .chzn-container-single .chzn-search:after {
	content: '';
	display: inline-block;
}
.woocommerce-checkout .checkoutForm .form-row .chzn-container-single .chzn-search input {
	height: 32px;
	border: 1px solid #C6C6C6;
	border-radius: 0;
	background-image: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	background-image: url('../../img/shop/search.png');
	background-position: 5px center;
	padding: 4px 4px 4px 28px;
	background-repeat: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.checkoutForm .chzn-container .chzn-results {
	margin: 15px 0 0 0;
	max-height: 200px;
	padding: 5px;
}
.order_details.shop_table {
	margin: 0 auto 10px;
	text-align: center;
	width: 70%;
}
.order_details.shop_table tr {
	border-bottom: 1px solid #E9E9E9;
}
.order_details.shop_table thead th {
	font-size: 11px;
	font-weight: bold;
	color: #363636;
	padding: 5px 10px;
}
.order_details.shop_table td {
	padding: 12px 10px;
	background-color: #f4f4f4;
}
.order_details.shop_table td:first-child {
	background-color: transparent;
}
.order_details.shop_table dl {
	margin: 0;
}
.order_details.shop_table td a {
	font-family: 'sourceSans';
	font-size: 12px;
	line-height: 19px;
	/* color: #e32831 */
}
.order_details.shop_table .product-quantity {
	/* color: #e32831 */
}
.order_details.shop_table td, .order_details.shop_table th {
	font-family: 'sourceSans';
	font-size: 12px;
	line-height: 19px;
	color: #5a5a5a;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.order_details.shop_table h5 {
	margin: 0;
}
.order_details p {
	margin: 0;
}
#payment ul {
	border: 1px solid #e9e9e9;
	margin-bottom: 20px;
}
#payment ul li {
	clear: both;
	padding: 20px;
	border-top: 1px solid #e9e9e9;
	margin-bottom: 0;
}
#payment ul li:first-child {
	border-top: none;
}
#payment ul li input {
	float: left;
}
#payment ul li label {
	margin-left: 15px;
	margin-top: 1px;
}
#payment ul li label h5 {
	margin-bottom: 0;
}
#payment .placeOrder {
	float: right;
	/* background-color: #e32831 */
	border: none;
	border-radius: 0;
	color: white;
	font-family: 'sourceSans';
	font-size: 12px;
	line-height: 30px;
	padding: 0 20px;
}
.container.removeMargin p {
	margin: 0;
	/* color: #e32831 */
	font-size: 14px;
}
.container.removeMargin h2, .container.removeMargin .order_details {
	display: none;
}
.deliveredOrder .container {
	border-bottom: 1px solid #e9e9e9;
	border-top: 1px solid #f1f1f1;
	padding-bottom: 20px;
	padding-top: 20px;
}
.deliveredOrder > .container:first-child {
	border-top: 0;
	padding-top: 0;
}
.deliveredOrder .order_details.shop_table {
	margin-bottom: 30px;
}
.deliveredOrder header {
	border-top: 1px solid #e9e9e9;
}
.deliveredOrder header h2 {
	border-top: 1px solid #f1f1f1;
	padding-top: 20px;
}
.deliveredOrder header h3 {
	padding-top: 20px;
}
.deliveredOrder .customer_details {
	margin: 0;
	padding-bottom: 10px;
}
.deliveredOrder .customer_details dt {
	font-family: 'SourceSansSemiBold';
	font-size: 12px;
	line-height: 19px;
	color: #5A5A5A;
}
.deliveredOrder .customer_details dd {
	font-family: 'sourceSans';
	font-size: 12px;
	line-height: 19px;
	color: #5A5A5A;
	margin: 0 0 10px 0;
	font-weight: normal;
}
.deliveredOrder address {
	margin: 0;
	padding-bottom: 10px;
}
.deliveredOrder .col-2 address {
	border-bottom: 1px solid #E9E9E9;
}
/** Checkout End **/
/** Filter Price Widget **/
.woocommerce .widget_price_filter .price_slider, .woocommerce-page .widget_price_filter .price_slider {
	margin-bottom: 1em
}
.woocommerce .widget_price_filter .price_slider_amount, .woocommerce-page .widget_price_filter .price_slider_amount {
	text-align: right;
	font-family: 'sourceSans';
	font-size: 12px;
	line-height: 30px;
	color: #5a5a5a;
}
.woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce-page .widget_price_filter .price_slider_amount .button {
	font-family: 'sourceSans';
	float: left;
	border: none;
	/* background-color: #e32831 */
	color: white;
	font-size: 12px;
	line-height: 16px;
	border: 1px solid #E32831;
	padding: 6px 13px;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.woocommerce .widget_price_filter .price_slider_amount .button:hover, .woocommerce-page .widget_price_filter .price_slider_amount .button:hover {
	background-color: #F1F1F1 !important;
	color: #5a5a5a;
}
.woocommerce .widget_price_filter .ui-slider, .woocommerce-page .widget_price_filter .ui-slider {
	position: relative;
	text-align: left
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	cursor: pointer;
	background: #b92424;
	top: -2px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
	margin-left: -1em
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	display: block;
	border: 0;
	/* background: #e32831 */
	border-radius: 7px;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
	border-radius: 7px;
	background: #ecf0f1;
}
.woocommerce .widget_price_filter .ui-slider-horizontal, .woocommerce-page .widget_price_filter .ui-slider-horizontal {
	height: 10px;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-min, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range-min {
	left: -1px
}
.woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range-max, .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range-max {
	right: -1px
}
#dropdown_layered_nav_color {
	border-radius: 0 !important;
}
@keyframes spin {
from {
	transform: rotate(0);
}
to {
	transform: rotate(360deg);
}
}
@-webkit-keyframes
spin {from {
	-webkit-transform: rotate(0);
}
to {
	-webkit-transform: rotate(360deg);
}
}
@-moz-keyframes
spin {from {
	-moz-transform: rotate(0);
}
to {
	-moz-transform: rotate(360deg);
}
}
@-o-keyframes
spin {from {
	-o-transform: rotate(0);
}
to {
	-o-transform: rotate(360deg);
}
}