.boxedLayout .headerStyle3_wrapper.sticky,
.boxedLayout .headerWrapper.sticky {
    max-width: 980px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#logoWrapper {
    position: relative;
}
#logoWrapper img {
    position: absolute;
}
/* header Start */

.header6 .navbar .searchFormIcon > span:hover {
    color: #ffffff;
}
.header6 .navbar .searchFormIcon > span,
.header6 .cart-dropdown .cart-dropdown-header span {
    color: #ffffff !important;
}
.headerStyle3_wrapper.sticky,
.headerWrapper.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
    background: #FFF;
    animation: fadeIn 1s ease;
    -webkit-animation: fadeIn 1s ease;
    -moz-animation: fadeIn 1s ease;
    -o-animation: fadeIn 1s ease;
}
.headerStyle3_wrapper.wpadminSticky,
.headerWrapper.wpadminSticky {
    top: 28px !important;
}
.headerSticky {
    display: none;
}
.headerSticky.headerStickyActive {
    display: block;
}
/* Header style 1 Start*/

.searchFormIcon {
    overflow: hidden;
    position: relative;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
}
.searchFormIcon.searchActive {
    overflow: visible;
}
.searchFormIcon .searchform {
    padding: 10px 30px 10px 10px;
    background: #F5F5F5;
    margin-top: 0;
    margin-bottom: 0;
}
.searchFormIcon .searchform .search-query {
    border-radius: 0;
    border: 1px solid #b3b3b3;
}
.searchFormIcon .searchform button {
    background: #1f1f1f;
    border: 0;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.searchFormIcon .searchform .searchButtonIcon {
    color: #ffffff;
    font-size: 15px;
}
.navbar .searchFormIcon.searchActive > span {
    background: #f5f5f5 !important;
}
.navbar .searchFormIcon > span {
    width: 30px;
    height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    margin-top: 5px;
    cursor: pointer;
    color: #050505;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
}
.navbar .searchFormIcon.searchActive > div {
    pointer-events: bounding-box;
    opacity: 1;
}
.navbar .searchFormIcon div {
    background: grey;
    right: 0;
    background: transparent;
    z-index: 1000;
    position: absolute;
    margin-top: 0;
    opacity: 0;
    /*pointer-events: none;*/
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
}
.headerStyle1 .navbar .icon-bar::before {
    content: initial !important;
}
.headerStyle1 {
    /*height: 75px;*/
    border-bottom: 1px solid #e5e5e5;
}
.headerStyle1 #menuContainer {
    height: 75px;
    position: relative;
}
.headerSticky.headerStyle1 #menuContainer {
    height: 55px;
}
.headerStyle1 .navbar-inner {
    background: none;
    border: none;
    box-shadow: none;
    display: table-cell;
    vertical-align: middle;
    height: 160px;
}
.headerStyle1 .navbar {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
#menuContainer .cr_ad a {
    float: right;
}
.headerStyle1 .logoWrapper {
    position: absolute;
}
.top_header_style4 {
    /* background: #e32831 */
    height: 40px;
}
.top_header_style4 .navbar {
    margin-bottom: 0px;
}
.top_header_style3 {
    height: 100px;
    margin-top: -200px;
    z-index: 9999;
}
.headerStyle1 .sticky-wrapper.hide {
    height: 0 !important
}
.top_header_style3 > .container {
    /*margin-top: 30px;*/
}
.menuButtonResponsive {
    display: none;
}
.style1.searchbar {
    background: #2a2a2a;
    height: 40px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.style1.searchbar .searchform {
    margin: 7px auto 0px auto;
    width: 240px;
    float: none;
    display: table;
}
.style1.searchbar #s {
    background-color: #1a1d20;
    -ms--shadow: inset 0px 0px 2px 1px #1d1d1d;
    -moz-box-shadow: inset 0px 0px 2px 1px #1d1d1d;
    -webkit-box-shadow: inset 0px 0px 2px 1px #1d1d1d;
    box-shadow: inset 0px 0px 2px 1px #1d1d1d;
    border: none;
    padding: 4px 34px 4px 14px;
    width: 186px;
    height: 20px;
}
.style1.searchbar button[type="submit"] {
    cursor: pointer;
    color: white;
    font-size: 13px;
    padding: 0px;
    line-height: 23px;
    margin-left: -40px;
    width: 28px;
    border: none;
    background: none;
}
.style1.searchbar button[type="submit"] span {
    color: white;
    font-size: 13px;
    line-height: 18px;
}
.style1.searchbar .searchHolder {
    border-radius: 0 0 25px 25px;
    width: 48px;
    height: 23px;
    margin: 0 auto;
    z-index: 5;
    position: absolute;
    display: block;
    background: #2a2a2a;
    cursor: pointer;
    line-height: 23px;
    position: relative;
}
.style1.searchbar .searchHolder span {
    color: white;
    font-size: 13px;
    margin: -5px 0px 0px 16px;
}
.searchbar.style1.closed {
    margin-top: -36px;
}
.searchbar.style1.opened {
    margin-top: 0px;
}
.headerStyle1 .navbar .nav > li > a {
    font-family: 'sourceSans';
    font-size: 13px;
    color: #2a2a2a !important;
    height: 38px;
}
.headerSticky.mainHeader .navbar .nav > li > a {
    height: 32px;
    padding-bottom: 0 !important;
}
.headerSticky.mainHeader .navbar .nav > li > a:hover {
    padding-bottom: 0 !important;
}
.headerStyle1 .navbar .nav > li > a:hover,
.headerStyle1 .navbar .nav > li.open > a {
    /* color: #e32831 !important */
    border-bottom: 3px solid #e32831;
    margin-bottom: 0px;
}
.headerStyle1 .dropdown-menu.header-menu {
    margin-top: 0px;
    padding: 0;
    box-shadow: none;
    z-index: 9999;
}
.headerStyle1 .dropdown-submenu > .dropdown-menu {
    left: 100% !important;
}
.headerStyle1 .dropdown-menu.header-menu {
    min-width: 99%;
}
.headerStyle4 .navbar .right > li > .dropdown-menu .dropdown-menu,
.headerStyle1 .mainHeader .navbar .right > li > .dropdown-menu .dropdown-menu,
.headerStyle9 .navbar .right > li > .dropdown-menu .dropdown-menu {
    left: 100%;
    right: auto;
}
.headerStyle1 .dropdown-menu > li,
.headerStyle4 .dropdown-menu > li,
.headerStyle9 .dropdown-menu > li {
    height: 45px;
    margin-bottom: 0px;
}
.headerStyle1 .navbar .nav > li > .dropdown-menu:before,
.headerStyle1 .navbar .nav > li > .dropdown-menu:after {
    border: 0 !important;
}
.headerStyle1 .dropdown-menu > li > a,
.headerStyle4 .dropdown-menu > li > a,
.headerStyle9 .dropdown-menu > li > a {
    font-family: 'sourceSans';
    color: #5a5a5a;
    font-size: 13px;
    height: 30px;
    padding-top: 12px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    background: none;
}
.top_header_style4 .dropdown-menu > li > a {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 10px;
    background: none;
    font-family: 'sourceSans';
    color: #5a5a5a;
    font-size: 13px;
}
.top_header_style4 .dropdown-menu > li > a:hover {
    background: none;
    /* color: #e32831 */
}
.top_header_style4 .dropdown-menu > li:hover {
    background: #f0efee;
    /* color: #e32831 */
}
.headerStyle1 .dropdown-menu > li > a:hover,
.headerStyle4 .dropdown-menu > li > a:hover,
.headerStyle9 .dropdown-menu > li > a:hover {
    background: #f0efee;
    /* color: #e32831 */
}
.headerStyle1 .dropdown-menu > li:hover,
.headerStyle4 .dropdown-menu > li:hover,
.headerStyle9 .dropdown-menu > li:hover {
    background: #f0efee;
    /* color: #e32831 */
}
.header_top_left p,
.header_top_right p {
    float: left;
    font-size: 12px;
    color: white;
    margin-top: 9px;
    display: inline-block;
}
.header_top_right {
    float: right;
}
.header_top_right p {
    font-size: 12px;
    color: white;
    margin-top: 9px;
    display: inline-block;
}
.headerSocial {
    margin-top: 0px;
}
.headerSocial i {
    margin-left: 0px;
}
.top_header_style4 .nav li:first-child {
    margin-left: 0px;
}
.header_top_left .nav li,
.header_top_right .nav li {
    float: left;
}
.top_header_style4 .nav .dropdown-menu li {
    width: 100%;
    height: 45px;
    margin-bottom: 0;
}
.top_header_style4 .nav > li {
    margin: 5px 0 0 10px;
    float: left;
}
.top_header_style3 .navbar {
    margin-top: -10px;
    margin-bottom: 0px;
}
.header_top_left .navbar left > li > .dropdown-menu .dropdown-menu,
.header_top_right .navbar left > li > .dropdown-menu .dropdown-menu {
    left: auto;
    right: 100%;
}
.top_header_style4 .nav > li > a,
.top_header_style4 .nav > li > a:hover,
.top_header_style4 .navbar .nav > li.open > a {
    color: white;
    background: none !important;
    border-bottom: none !important;
    padding-bottom: 10px;
    font-size: 15px;
    text-shadow: none;
    margin-top: 10px;
    height: 31px;
}
.top_header_style4 .nav > li > a {
    opacity: 0.8;
}
.top_header_style4 .nav > li > a:hover,
.top_header_style4 .navbar .nav > li.open > a {
    opacity: 1;
}
.top_header_style4 .nav {
    margin: -5px 0 0px 0;
}
.headerStyle1 .menuArrowDown {
    font-size: 11px;
    margin-top: -3px;
    color: inherit;
}
.headerStyle1 .menuArrowRight {
    color: inherit;
    font-size: 9px;
    margin: 3px 0px 0px 0px;
    float: right;
    line-height: 16px;
    position: absolute;
    right: 12px;
}
.top_header_style4 .nav > li > .dropdown-menu {
    margin-top: 0px;
}
.top_header_style4 .nav .dropdown-menu {
    margin-top: -5px;
}
.headerStyle1 .smallHeader .nav > li a {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    height: 20px !important;
}
.headerStyle1 .nav-collapse,
.nav-collapse-main {
    z-index: 300;
}
.headerStyle1 .headerAfter {
    margin: -12px auto 20px auto;
    height: 54px;
}
.headerStyle1 .headerAfter .navbar {
    margin-top: 0px;
}
.headerStyle1 .headerAfter .navbar .nav > li > a {
    height: 29px;
}
.headerStyle1 .centeredLogo {
    margin: 0 auto;
    display: table;
}
.headerStyle2 .navbar {
    margin: 20px auto -10px auto;
    display: table;
    clear: both;
    float: none;
}
.headerStyle2 .navbar .nav > li {
    margin-bottom: 15px;
}
.slidingText {
    clear: both;
    background: #1f1f1f;
    height: 44px;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 20px;
}
.slidingText .movingHead {
    width: 15%;
    text-align: center;
}
.slidingText .movingHead h2 {
    color: white;
    font-size: 17px;
    font-family: 'SourceSansSemiBold';
    line-height: 32px;
    background: #3b3b3b;
    padding: 6px 0px 6px 0px;
}
.movingText {
    width: 85%
}
.movingText h6 {
    color: #c7c6c0;
    line-height: 32px;
    font-family: 'sourceSans';
    font-size: 12px;
    margin-top: 5px;
}
.headerStyle2,
.headerStyle2 #menuContainer {
    height: auto;
}
.headerStyle2 .nav > li:hover {
    margin-bottom: 0;
}
.headerStyle2 .menuWrapper {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
}
#overlaySlider .headerStyle2 {
    background: rgba(255, 255, 255, 0.7);
    border-bottom: 0;
    width: 700px;
    margin: 10px auto 0 auto;
    position: absolute;
    left: 10px;
    right: 10px;
    border-radius: 10px;
}
#overlaySlider .menuWrapper {
    border-top: 0px;
}
#overlaySlider #logoWrapper {
    margin-top: 15px;
}
.headerStickyActive #logoWrapper {
    margin-top: -5px;
}
.btn-navbar span {
    color: #FFFFFF;
}
.headerStyle1 .btn-navbar {
    background-color: red !important;
    background-image: linear-gradient(to bottom, #FF5757, #FF0000) !important;
    border-radius: 19px;
    height: 19px;
    width: 15px !important;
}
.headerStyle1 .navbar .btn-navbar .icon-bar {
    margin-left: -2px;
    margin-top: 3px;
}
.headerStyle1 .navigationButton {
    background-color: white;
    border-radius: 29px;
    height: 24px;
    width: 25px;
    border: 5px solid #e32831;
    cursor: pointer;
}
.headerStyle1 .navigationButton span {
    /* color: #e32831 */
    font-size: 18px;
    margin: -2px 0px 0px 0px;
}
.headerStyle1 .navigationButton button {
    background: transparent;
    border: none;
    text-indent: -9999px;
}
.headerStyle1 .navigationButton .icon-bar {
    /* background: #e32831 */
    width: 14px;
    height: 3px;
    margin-top: 3.5px;
    margin-left: 5px;
    line-height: 0;
    display: block;
}
.navbar .right > li > .dropdown-menu .mostRight {
    left: auto !important;
    right: 100% !important;
}
/* end of header style */

/* header End */

@media (max-width: 1199px) and (min-width: 978px) {
    .headerStickyActive #menuContainer .navbar-inner {
        height: 74px !important;
    }
}
header .navbar {
    margin-bottom: 0;
}
.navCollapse {
    position: relative;
    z-index: 10;
    height: auto;
}
.navCollapse.mainNav {
    display: block !important;
    height: auto !important;
}
.mainHeader .navbar .navbar-inner {
    z-index: 200000;
    position: relative;
}
.headerStyle5.headerAfter {
    padding-top: 20px !important;
}
.mainHeader .navbar .nav > li > a:after {
    /* color: #e32831 */
}
@media screen and (min-width: 1200px) {
    .boxedLayout .headerStyle3_wrapper.sticky,
    .boxedLayout .headerWrapper.sticky,
    .boxedLayout {
        max-width: 1230px;
    }
    /* page with sidebar End */
    .navbar .nav {
        height: 40px
    }
    .headerStyle7 #menu-main-header,
    .headerStyle8 #menu-main-header {
        height: auto;
    }
    .headerStyle1 #logoWrapper {
        float: left;
        margin-top: 0;
    }
    .headerStyle4 #menuContainer > .navbar,
    .headerStyle9 #menuContainer > .navbar {
        position: absolute;
    }
    .top_header_style4 .btn-navbar {
        width: 35px;
        background: red;
        border-radius: 50%;
        height: 35px;
        padding: 0;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .top_header_style4 .btn-navbar span {
        line-height: 35px;
    }
    .headerStyle4 #logoWrapper,
    .headerStyle9 #logoWrapper {
        float: left;
        display: block;
        margin: 0;
    }
    /* header Start */
    .headerStyle4 .navbar-inner,
    .headerStyle1 .navbar-inner,
    .headerStyle9 .navbar-inner {
        display: table-cell !important;
        vertical-align: middle;
    }
    .headerStyle1 .navbar,
    .headerStyle4 #menuContainer > .navbar,
    .headerStyle9 #menuContainer > .navbar {
        width: auto;
    }
    /* header End */
}
@media (max-width: 1199px) and (min-width: 978px) {
    #menuContainer {
        height: auto !important;
    }
    .headerStyle1 #logoWrapper {
        margin: 30px auto 0;
    }
    .headerStyle1 .navbar {
        position: static !important;
    }
    .sticky {
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    body .headerStyle4 #menuContainer > .navbar,
    body .headerStyle9 #menuContainer > .navbar {
        width: auto;
    }
    /* page with sidebar End */
    body .navbar .nav {
        height: 40px
    }
    body .headerStyle7 #menu-main-header,
    .headerStyle8 #menu-main-header {
        height: auto;
    }
    body .headerStyle1 .navbar {
        position: absolute;
    }
    body .headerStyle4 #menuContainer > .navbar,
    body .headerStyle9 #menuContainer > .navbar {
        position: absolute;
    }
    body .headerStyle4 #logoWrapper {
        float: left;
        display: block;
        margin: 0;
    }
    body .headerStyle9 #logoWrapper {
        float: left;
        display: block;
        margin: 0;
    }
    /* header Start */
    body .headerStyle4 .navbar-inner,
    .headerStyle1 .navbar-inner,
    body .headerStyle9 .navbar-inner {
        display: table-cell !important;
        vertical-align: middle;
    }
    body .headerStyle1 .navbar,
    .headerStyle4 #menuContainer > .navbar,
    .headerStyle9 #menuContainer > .navbar {
        width: auto;
    }
    /* header End */
}