.imageSlider .carousel-control{
	top: 0px;
	background: url(../../img/common/arrowsSprite.png);
	width: 10px;
	height: 13px;
	border: none;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
	margin-top: 0px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.imageSlider .carousel-control:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.imageSlider .carousel-control.left{
	right: 20px;
	left: auto;
}
.imageSlider .carousel-control.right{
	background-position: -23px 0px;
	right: 0px;
}
.aq-block-cr_image_slider_block h4{
	min-height: 19px;
	min-width: 1px;
}
.aq-block-cr_image_slider_block ol{
	display: none;
}
.imageSlider_carousel{
	position: relative;
}
.imgCarouselWrap li{
	float: left;
	list-style: none;
}
